/*all elements are added and a padding of 0px*/
	* {
		margin: 0;
		padding:0 ;
	}

/*-----*/
/*The CSS part common to all the pages the styling of the header, navigation bar and the footer	elements*/
	h1 {
		color: white;
		text-align: center;
		font-size: 100px;
		background-color: black;
	}

	.log {
		position: absolute;
		top: 20px;
		left: 200px;
	}

	.navbar ul {
		padding:40px 40px;
		text-align: right;
		color: white;
		background-color: black;
	}

	.navbar ul li {
		display: inline-flex;
		list-style: none;
		margin: 0 20px;
		font-size: 20px;
		font-family: impact;
	}

	.navbar ul li a{
		color: white;
		text-decoration: none;
	}

	.navbar ul li a:hover{
	  -webkit-transform: scale(1.5);
	  transform: scale(1.5);
	  text-decoration: underline;
	  transition-duration: 1s;
	}

	#onpage {
		font-size: 33px;
		color: white;
		text-decoration: underline;
	}

	footer {
		margin-top: 50px;
		background-image: linear-gradient(white 10%, black 60%, black 30%);
		bottom: -680px;
		width: 1519px;
		position: absolute;
	}

	footer h2 {
		color: black;
		text-align: center;
		padding: 20px;
		text-decoration: bold;
	}

	footer ul {
		margin: 20px 0 0 380px;
		display: inline-flex;
	}

	footer ul li {
		display: inline-flex;
		list-style: none;
		margin: 0 20px 0 5px;
		font-size: 25px;
		color: white;
	}

	footer ul li a {
	  text-decoration: none;
	  color: white;
	}

	footer ul li a:hover {
	 -webkit-transform: scale(1.5);
	  transform: scale(1.5);
	  text-decoration: none;
	  padding: 10px;
	}

	footer ul li i{
		font-size: 60px;
		padding: 10px;
	}

	.me {
		margin-top: 1168px;
		height: 70px;
		padding: 20px;
		text-align: center;
		background-color: white;
	}
/*End of the common styling*/
/*-----*/

/* the styling the body of the page form*/
	body {
		background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/form.jpg");
		background-color: black;
		height: 100vh; 
		background-size: cover;
		background-position: center;
		background-repeat: repeat;
	}

/*The styling of the separated area that contain the form elements to input data*/
	.formcontainer{
		background-image:url(./images/form2.jpg);
		background-size: cover;
		color: white;
		margin:120px 100px 100px 240px;
		padding: 10px;
		height: 680px;
		width: 1000px;
		border: 2px solid white;
		border-radius: 15px;
		position: absolute;
	}

/*The styling of the separated area that contain the form elements to display input data*/
	.formviwer {
		display: none;
		background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/form2.jpg);
		background-size: cover;
		color: white;
		margin:120px 100px 100px 240px;
		padding: 10px;
		height: 680px;
		width: 1000px;
		border: 2px solid white;
		border-radius: 15px;
		position: absolute;
	}

/*CSS for the text that display the inputed data*/
	.detailviwer {
		margin: 70px 0 50px 20px;
		font-weight: 600;
		font-size: 25px;
		padding: 25px;
	}

/*Styling for the area containig the buttons in the form*/
	.formfoot {
		margin-left: 20px;
	}

/*common styling for the form objects*/
	form {
		text-align: justify-all;
		padding-left: 40px;
		padding-top: 15px;
		padding: 40px;
	}

/*Styling the topic of the form*/
	.formtopic {
		text-align: left;
		font-size: 40px;
		color:white;
		margin-left: 40px;
		text-decoration: underline;
	}

/*Styling the buttons of the form*/
	.sender {
		background-color:white;
		margin-top: -20px;
		margin-left: 40px;
		color: black;
		height: 45px;
		width: 100px;
		border-radius: 10px;
	}

/* Hover effects for buttons*/
	.sender:hover {
		background-color: black;
		color: white;
	}


